BasedOnStyle: Microsoft
Language: Cpp
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Custom
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Right
ColumnLimit: 0
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
